{% include 'partials/navigation.html' %}

{% set header_cover = "" %}

{% if article and article.header_cover %}
  {% set header_cover = article.header_cover %}
{%- endif %}
{% if page and page.header_cover %}
  {% set header_cover = page.header_cover %}
{%- endif %}

<div class="cover" style="background-color:black; background-image: url({{ header_cover }})">  
  <div class="cf pv5 pa3 ph5-m ph7-l bg-black-40">
	  <div class="fl w-100 w-50-ns">
	    {% if page and page.title %}
		  <h3 class="f2 f1-m f-headline-m measure-narrow lh-title mv0">
			  <span class="white mono">{{ page.title }}</span>
		  </h3>
	    {% endif %}
	    {% if page and page.subtitle %}
		  <h4 class="f4 fw1 mb0">
			  <span class="white georgia i">{{ page.subtitle }}</span>
		  </h4>
	    {% endif %}
	    {% if article %}
	    <h4 class="f6 tracked white-60 fw1 mb0">{{ article.locale_date }} · {{ article.author }}</h4>
	    {% endif %}
	  </div>
  </div>
</div>
