{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}


<div class="cf pv4 mono flex items-center justify-center">
	<div class="fl w-30 tl">
	{% if articles_page.has_previous() %}
		<a href="{{ SITEURL }}/{{ first_page.url }}" class="no-underline dim bg-black white inline-flex items-center pa2 ba border-box m1"><span class="pl1">&#8647;</span></a>
		<a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="no-underline dim bg-black white inline-flex items-center pa2 ba border-box m1"><span class="pl1">&laquo; Prev</span></a>
    {% endif %}
	</div>
	<div class="fl w-40 tc mid-gray">
		{{ articles_page.number }} / {{ articles_paginator.num_pages }}
	</div>
	<div class="fl w-30 tr">
	{% if articles_page.has_next() %}
		<a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="no-underline dim bg-black white inline-flex items-center pa2 ba border-box m1"><span class="pl1">Next &raquo;</span></a>
		<a href="{{ SITEURL }}/{{ last_page.url }}" class="no-underline dim bg-black white inline-flex items-center pa2 ba border-box m1"><span class="pl1">&#8649;</span></a>
	{% endif %}
	</div>
</div>
