{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ period | reverse | join(' ') }} Archives{% endblock %}

{%- set page = {
	  'title': 'Archives',
    'subtitle': period,
    'header_cover': 'https://images.unsplash.com/photo-1461360228754-6e81c478b882?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80' }
-%}

{% block content %}
    {# http://stackoverflow.com/questions/12764291/jinja2-group-by-month-year #}

    {% for year, year_group in dates|groupby('date.year')|reverse %}
        {% for month, month_group in year_group|groupby('date.month')|reverse %}
          <article>
            <h1 class="f4 bold mw6 mono">{{ (month_group|first).date|strftime('%b %Y') }}</h1>
            <ul class="list pl0 ml0 mw6 ba b--light-silver br2">
              {% for article in month_group %}
                <a href="{{ SITEURL }}/{{ article.url }}" class="mid-gray dim ttu">
                  <li class="ph3 pv3 bb b--light-silver">{{ article.title }}</li>
                </a>
              {% endfor %}
            </ul>
          </article>
        {% endfor %}
    {% endfor %}
{% endblock %}
